<html>
  <head>
    <title>Tex-Mex NYC</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css">
  </head>
  <body>
    <header>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>