<h2>Add a Tex_Mex Food</h2>
<form action="/foods" method="POST">

  Name: <input type="text" name="food[name]"><br>
  
  Cuisine <input type="text" name="food[cuisine]" value="Tex-Mex"><br>
  
  Allergens: <input type="text" name="food[allergens]"><br>
  
  Price: <input type="number" name="food[price]" min=0 max=10><br>
  
  <input type="submit" value="Add!">
</form>