<h2>Add a Party</h2>
<form action="/parties" method="POST">

  Table_Number: <input type="number" name="party[table_number]"><br>
  
  Guests: <input type="number" name="party[guests]" min=0 max=10><br>
  
  Paid: <input type="boolean" name="party[paid]" value="false"><br>
  
  <input type="submit" value="Create a New Party">
</form>