<h2>Table Number <%= @party.table_number %></h2>

<ul>
	<li>
		Guests: <%=@party.guests %>
	</li>
	<li>
		Paid: <%=@party.paid %>
	</li>
</ul>

<% @orders.each do |order| %>

<ul>
	<li>
<a href="orders/<%= order.party_id %>"> Add a new food </a>
	</li>
</ul>

<% end %> 
