<h1>Table Number <%= @party.table_number %></h1>

<ul>
	<li>
		Guests: <%=@party.guests %>
	</li>
	<li>
		Paid: <%=@party.paid %>
	</li>
</ul>

<% if @order != nil %>

<p><a href="/orders/new"> Add a New Item </a></p>

<p><a href="/parties/<%= @order.party_id %>/checkout"> Close Table </a></p>

<% else %>

<p>This party has not yet ordered.</p> 

<p><a href="/orders/new"> Start Order Here</a></p>

<% end %>