<h1>Add an Order</h1>
<form action="/orders" method="POST">

  Select a Food: <select name="food[id]">
    <% @foods.each do |food| %>
      <option value="<%= food.id %>"><%= food.name %></option>
    <% end %>
  </select><br>
  
  Select a Party: <select name="party[id]">
      <option value="<%= @party.id %>">Table Number <%= @party.table_number %></option>
  </select><br>
  
  <input type="submit" value="Update Order">
</form>

